/* lista dos problemas
button não está centralizado
imagem não estão centralizadas
border radios tá só de 1 lado
botão não está clicável
*/

/* Container do header */
.containerHeader{
    max-width: 1200px;
    margin: 0 auto; /* Centralizando o conteúdo*/

}

/* Classe principal */
.containerGrande{
    max-width: 1200px;
    margin: 0 auto; /* Centralizando o conteúdo*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.containerCard{}

/* COMEÇO DO CSS DA LOGO E MENU */
  .menu {
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.1);
  }

.menu-flex {
  display: flex;
  align-items: center;
}

.menu-column {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: flex-start;
}

.menu-column.menu-second-column {
  justify-content: flex-end;
}

.menu-nav ul {
  display: flex;
  list-style: none;
  gap: 10px; /* Vamos utilizar essa propriedade do flex para colocar um espaçamento entre os elementos*/
}

.menu-nav ul li a {
  text-decoration: none;
  color: #c6cacf;
}

.menu-link-button {
  text-decoration: none;
  height: 48px;
  background-color: #4c6ef5;
  color: #fff;
  padding: 0 32px;
  display: flex;
  align-items: center;
  border-radius: 4px;
}
  
/* FINAL DO CSS DA LOGO E MENU */

/* Cards dos produtos */
.listaCard{
    background-color: #ede6e6;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    margin-top: 20px;
    /* Removendo o pontinho da ul */
    list-style: none;
    
}
.listaCard li{
    border-radius: 5px;
    max-width: 350px;
    width: 21%;
    background-color: #fff;
    margin-bottom: 30px;
}
.listaCard li img{
    margin:auto;
    width: 100%;
    max-width: 350px;
}
.listaCard li h3{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
}
.listaCard li p {}

.listaCard li button{
    background-color: #4c6ef5;
    width: 85%;
    border: none;
    border-radius: 3px;
    padding: 10px;
    color: #dedede;
}

/* box da imagem */
.boxImagem{
   
    background-color: #fff;
    height: 180px;
    width: 180px;

}
